<h1>New member signup</h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Name:</strong> <%= @user.display_name %></p>
<p><strong>User ID:</strong> <%= @user.id %></p>
<p><strong>Created at:</strong> <%= @user.created_at %></p>
